@import "variables";
@import "functions";
@import "mixins";

header 
{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
    //padding:17px 30px 16px 25px;
    height:70px;
    .header__logo
    {
        @include text-features(font-family, $secondary-font-family, font-size, 3.2rem, line-height, 37px, font-weight, 300, $primary-color);
        margin-left:25px;
    }
    button
    {
        width: 20px;
        height: 12px;
        background-image: url("../images/open-menu.svg");
        border: none;
        margin-right: 30px;
        background-color: #ffffff;
        background-position: center;
        background-size: cover;
       /* right:29px;
        top:29px;*/
    }
    ul:nth-of-type(1)
    {
        height: 70px;
        list-style-type: none;
        margin:0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li:nth-child(3), li:nth-child(4), li:nth-child(5), li:nth-child(6)
        {
            display: none;
        }
        a
        {
            @include text-features(font-family, $secondary-font-family, font-size, 1.1rem, line-height, 15px, font-weight, 700, $grey-color);
            letter-spacing: 3.28px;
            text-decoration: none;
        }
        a:hover
        {
            cursor: pointer;
            color: black;
        }
    }
    ul:nth-of-type(2)
    {
        list-style-type: none;
        font-family: $primary-font-family;
        font-weight: 700;
        font-size: 1.1rem;
        line-height: 15px;
        /* identical to box height, or 136% */
        letter-spacing: 3.28px;
        text-transform: uppercase;
        padding: 0;
        margin-left: 25px;
        margin-top: 20px;
        li
        {
            margin-bottom:14px;
        }
        li:nth-of-type(4)
        {
            margin-bottom:0px;
        }
    }
}
.header-open
{
    padding-bottom: 33.65px;
    height: auto;
}