@font-face {
    font-family: "Open Sans";
    src: url("../fonts/static/OpenSans/OpenSans-Regular.ttf") format("woff2");
    font-family: "Raleway";
    src: url("../fonts/static/Raleway-Regular.ttf") format("woff2");
}
//variables globales
$primary-font-family: "Open Sans";
$secondary-font-family: "Raleway";
$primary-color:#08A6E4;
$green-color:#55DFB4;
$red-color:#FB3B64;
$grey-color: #A5A5A5;